Django>=5.0,<5.3
djangorestframework
djangorestframework-gis
djangorestframework-simplejwt
channels
channels-redis
daphne
psycopg2-binary
django-environ
django-cors-headers
django-filter
drf-spectacular
django-extensions
cloudinary
celery
django-celery-beat
redis>=5.0,<6.0
Pillow
gunicorn
firebase-admin
